body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* CLICKY-GAME CUSTOM THEME CODE */
section {
  margin: 1em;
  padding: 1em;  
}

  /*giving each component borders to better visualize while working on it*/
  section.Game {
    border: 1px solid slateblue;
  }

  section.Board {
    border: 1px solid magenta;
  }

/* END CLICKY-GAME CUSTOM THEME CODE */